---
import logo from '../assets/CacaoByte.png';
---

<footer class="fixed bottom-0 w-full bg-gray-900 text-white py-2">
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center justify-between px-4">
    
    <!-- Logo y Nombre -->
    <div class="flex items-center gap-2">
      <img src={logo.src} alt="CacaoByte Logo" class="w-8" />
      <span class="text-sm font-medium text-gray-300">CacaoByte S.A.</span>
    </div>



    <!-- Derechos reservados más sutiles -->
    <p class="text-xs text-gray-300">
      © {new Date().getFullYear()} CacaoByte S.A. - Todos los derechos reservados.
    </p>
  </div>
</footer>
